.form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.input {
  height: 25px;
  width: 30%;
  padding: 10px;
  border: none;
  font-size: 16px;
}

.searchbutton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.searchbutton:hover {
  color: #ccc;
}

.fas {
  font-size: 20px;
}
