.imageUl {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  background-color: rgb(198, 244, 244);
}

.imageLi {
  width: 350px;
  height: 400px;
}
